@model Pizza

@{
	var pizza = Model;
}

<h2>@pizza.Name</h2>
<h3>@pizza.Category!.Name</h3>

<div class="container">
	<div class="p-2">
		<div class="image">
			<img class="post-link-image" src="@pizza.Foto">
		</div>
		<div>
			<p>
				@pizza.Description
			</p>
			<p>
				<h3>Ingredienti</h3>
				<div class="flex">
					@foreach (var ingrediente in pizza.Ingredienti!)
					{
						<span>
							@ingrediente.Name
						</span>
					}
				</div>
			</p>
			<p>
				@pizza.Prezzo $
			</p>
			@if (User.IsInRole("Admin"))
			{
				<div class="buttonContainer d-inline-flex">
					<a class="btn btn-warning m-2" href="@Url.Action("Update", "Pizza", new { Id = pizza.Id })">Edit</a>
					<form asp-action="Delete" asp-controller="Pizza" asp-route-id="@pizza.Id">
						@Html.AntiForgeryToken()
						<button class=" btn btn-danger my-2" type="submit">Delete</button>
					</form>
				</div>
			}
		</div>
	</div>
</div>
